# =========================
# ENVIRONMENT VARIABLES
# =========================

.env
.env.local
.env.*

# =========================
# SPRING BOOT
# =========================

target/
*.jar
*.war
*.class
*.log

# =========================
# ANGULAR
# =========================

node_modules/
dist/
.angular/
coverage/

# =========================
# IDE FILES
# =========================

.vscode/
.idea/

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# CACHE
# =========================

.cache/
tmp/
temp/

# =========================
# OPTIONAL
# =========================

*.iml