# =========================
# ENVIRONMENT VARIABLES
# =========================

.env
.env.local
.env.*

# =========================
# ENV FILES
# =========================
**/.env
**/.env.*
!.env.example

# =========================
# SPRING BOOT
# =========================

target/
*.jar
*.war
*.class
*.log

# =========================
# NODE
# =========================
package-lock.json

# =========================
# LOGS
# =========================
logs
*.log

# =========================
# ANGULAR
# =========================

node_modules/
dist/
.angular/
coverage/

# =========================
# IDE FILES
# =========================

.vscode/
.idea/

# =========================
# MAC / WINDOWS
# =========================
.DS_Store
Thumbs.db

# =========================
# CACHE
# =========================

.cache/
tmp/
temp/

# =========================
# OPTIONAL
# =========================

*.iml