<section class="hero">

    <div class="hero-content" @fadeSlide>

        <h1>
            Hi, I'm <span>Samkelo Ngcobo</span>
        </h1>

        <p>
            Full-stack developer specializing in modern web applications using
            Angular & Spring Boot.
        </p>

        <div class="buttons">

            <a routerLink="/projects" class="btn primary">
                View Projects
            </a>

            <a routerLink="/contact" class="btn secondary">
                Contact Me
            </a>

        </div>

    </div>

</section>